<form class="row g-3 mx-4" id="formProduct">
    <h2>Real Time Products</h2>
    <div class="col-md-4">
        <label for="title" class="form-label">Nombre del Producto</label>
        <input class="form-control" type="text" name="title" id="title" placeholder="Ej. Smartphone" required>
    </div>

    <div class="col-md-4">
        <label for="description" class="form-label">Descripción</label>
        <input class="form-control" type="text" name="description" id="description"
            placeholder="Ej. Último modelo con características avanzadas" required>
    </div>

    <div class="col-md-4">
        <label for="stock" class="form-label">Stock</label>
        <input class="form-control" type="number" name="stock" id="stock" placeholder="Ej. 100" required>
    </div>

    <div class="col-md-4">
        <label for="thumbnail" class="form-label">Imagen (URL)</label>
        <input class="form-control" type="text" name="thumbnail" id="thumbnail"
            placeholder="Ej. https://example.com/image.jpg" required>
    </div>

    <div class="col-md-4">
        <label for="category" class="form-label">Categoría</label>
        <input class="form-control" type="text" name="category" id="category" placeholder="Ej. Electrónicos" required>
    </div>

    <div class="col-md-4">
        <label for="price" class="form-label">Precio</label>
        <input class="form-control" type="number" name="price" id="price" placeholder="Ej. 499.99" required>
    </div>

    <div class="form-check mx-4">
        <input name="status" class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Status
        </label>
    </div>

    <div class="col-md-4">
        <label for="code" class="form-label">Código</label>
        <input class="form-control" type="text" name="code" id="code" placeholder="Ej. ABC123" required>
    </div>
    <div class="col-12">

        <button class="btn btn-primary" type="submit" id="add-btn">Registrar </button>
    </div>
    <h2>Eliminar Producto:</h2>
    <div class="col-md-4">
        <label for="id-prod" class="form-label">ID del Producto</label>
        <input class="form-control" type="number" name="id-prod" id="id-prod" placeholder="Ej. 123">
    </div>
    <div class="col-12">

        <button class="btn btn-danger" type="button" id="delete-btn">Eliminar</button>
    </div>
</form>







<div class="row mt-4" id="list-products">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="public/js/realtime.js"></script>